body {
  background-image: url("https://theotherhubby.files.wordpress.com/2014/08/giphy1.gif?w=600");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: white;
  width: 100vw;
  height: 100vh
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
  opacity: 0.45;
}

.jumbotron .title {
  font-family: "Georgia";
  color: #000000;
  padding-top: 40px;
  padding-bottom: 20px;
}

.jumbotron .weather {
  color: #000000;
}

p.temp-type {
  padding-top: 10px;
  cursor: pointer;
  color: #000000;
}

h2 {
  font-size: 30px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  color: #FFFFFF;
  margin: 6px;
  font-size: 20px
}

@media screen and (max-width:700px) {
  h3 {
    font-size: 15px;
  }
}
